
//== colors
$gray-dark = #292b2c
$gray = #464a4c
$gray-light = #636c72
$gray-lighter = #eceeef
$gray-lightest = #f7f7f9

$body-bg = #fff
$body-color = #292b2c


//== link
$link-color = #007bff
$link-decoration = none
$link-hover-color = $link-color - 15%
$link-hover-decoration = underline


//== font
$font-family-chinese   = "PingFang SC", "Microsoft YaHei"
$font-family-base      = -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif
$font-family-monospace = consolas, Menlo, $font-family-chinese, monospace
$font-size-base = 14px

$font-weight-normal = normal
$font-weight-bold = bold
$font-weight-base = $font-weight-normal

$line-height-base = 1.5

$cursor-disabled = not-allowed



