

.form
  select,
  input[type="number"],
  input[type="text"],
  input[type="date"]
    padding 5px 10px
    border 1px solid #ccc
    border-radius 4px
    vertical-align middle
  input[type="number"]
    width 80px
    text-align right
  input[type="checkbox"]
    margin-right 5px
    & + span
      color #777
    &:checked + span
      color inherit
  h3
    margin 10px 0
    border-bottom 1px solid #ccc
  dt, dd
    display inline-block
    line-height 30px
