.ant-btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $font-color

    &:hover, &:focus {
        background-color: $hover-primary-color;
        border-color: $hover-primary-color;
    }
}