.list-wrapper
  padding 15px

  .list-header
    height 65px
    display flex
    justify-content space-between
    align-items center
    background #fff
    padding 0 38px
    box-shadow -2px 3px 10px #d4d4d4
    margin-bottom 16px

    .list-info
      display flex

      .margin-ten
        margin-right 22px

  .list-table
    background #fff
    box-shadow -2px 3px 10px #d4d4d4
    min-height 740px