.appoint-list
  padding 15px
  overflow hidden

  .select
    height 65px
    display flex
    align-items center
    padding 0 38px
    background #fff
    box-shadow -2px 3px 10px #d4d4d4
    margin-bottom 16px

    .select-store
      margin-right 26px

    .select-date
      margin-right 26px

    .search-room
      margin-right 26px

  .table-wrap
    background #fff
    box-shadow -2px 3px 10px #d4d4d4
    min-height 740px

    .red
      color red

    .blue
      color #1890ff